<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>labercompare</name>
    <displayName><![CDATA[Laber Product Compare]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Laber Product Compare 1.7]]></description>
    <author><![CDATA[Laberthemes]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>