<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>msiliunas_googletagmanager</name>
    <displayName><![CDATA[Google Tag Manager]]></displayName>
    <version><![CDATA[0.0.1]]></version>
    <description><![CDATA[Integrates Google tag manager.]]></description>
    <author><![CDATA[Marijus Siliunas]]></author>
    <tab><![CDATA[analytics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>